* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#music-note-01,#music-note-02,#music-note-03{
    animation: music 1s infinite linear;
    transform-origin:50% 40%;
}

#left-arm{
    animation: arm 1s ease-in-out infinite alternate;
    transform-box: fill-box;
}

#head {
    animation: head 2s ease-in-out infinite alternate;
    transform-box: fill-box;

}

#right-foot > #right-foot-shoe{
    animation: foot 1s ease-in-out infinite alternate;
    transform-origin:right;
    transform-box: fill-box;
}

@keyframes music {
    from{
        transform: scale( 0 );
    }
    to{
        transform: scale( 1 );
    }
}

@keyframes arm {
    from{
        transform: rotateZ( 0deg );
    }
    to{
        transform: rotateZ( 20deg );
    }
}

@keyframes head {
    from{
        transform: rotateZ( 10deg );
    }
    to{
        transform: rotateZ( 15deg );
    }
}

@keyframes foot {
    from{
        transform: rotateZ( 0deg );
    }
    to{
        transform: rotateZ( 10deg );
    }
}


